.git
.github
.idea
.vscode
.terraform

**/.terraform/
**/node_modules/
**/pnpm-store/
**/dist/
**/coverage/

**/bin/
**/obj/
**/TestResults/

**/*.user
**/*.suo
**/*.cache
**/*.log

src/Infrastructure/terraform/
**/*.zip
