# Lambda Environment Variables
TEMPLATE_BUCKET=vibraheka-email-templates-dev
SES_FROM_EMAIL=no-reply@vibraheka.com
SES_CONFIG_SET=VibraHeka-ses-config
SSM_TEMPLATE_NAME_PARAM=/vibraheka/email/template-name
